{% extends "encyclopedia/layout.html" %}

{% block title %}Edit {{ title }}{% endblock %}

{% block body %}
    <h1>Edit {{ title }}</h1>

    <form action="{% url 'edit_page' title=title %}" method="POST">
        {% csrf_token %}

        <label for="content">Edit Content (Markdown):</label>
        <textarea name="content" id="content" class="form-control" rows="10">{{ content }}</textarea>

        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>
{% endblock %}
